/*Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

#header {
  overflow: hidden;
  background-color: rgb(10, 62, 233);
  border: solid aqua;
}

#header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: transform 1s;
}

#header a:hover{
  color: #cc9a8e;
  transform: scale(1.2);
}

h1 {
  color: darkblue;
  font-weight: bolder;
}

h2 {
  color: rgb(4, 154, 255);
}

body {
  font-family: "Montserrat", sans-serif;
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#reminder {
  padding-top: 40px;
}

#reminder b {
  color: red;
}

img {
  margin: fill;
  padding: 0;

  object-fit: cover;

  height: 400px;
  width: 100%;
}

#user_input {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 20px;
  border-width: 5px;
}

.date {
  padding: 20px;
  font-weight: bold;
}

.time {
  padding: 20px;
}

.time label {
  font-weight: bold;
}

.time input {
  padding: 8px;
}

.room {
  padding: 20px;
  font-weight: bold;
}

#meet_selection {
  padding: 8px;
}

.button {
  padding: 20px;
}

.button input {
  padding: 9px;
  border-radius: 20px;
  font-weight: bold;
  background-color: lightgreen;
  border: darkgreen outset;
}

#Sdate {
  width: 180px;
  height: 30px;
}
